.navbar {
  display: flex;
  height: 80px;
  padding: 0 10%;
}

.title {
  text-align: left;
  margin: auto 0;
  margin-right: auto;
  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.navbar>a.register {
  margin: auto 0;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
}

.navbar>button {
  margin-left: 20px;
  color: #337ab7;
  font-size: 14px;
  font-weight: 300;
}

#settingsIcon {
  width: 27px;
  height: 27px;
}
