.navbar {
  display: flex;
  height: 80px;
  padding: 0 10%;
}

.title {
  margin: auto 0;
  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.navbar>button {
  margin-left: auto;
  color: red;
  font-size: 12px;
  font-weight: 300;
}

.navbar>button>img {
  width: 25px;
  height: 25px;
}
