.lines {
  display: flex;
  flex-direction: column;
}

.lines>ul {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.lines li {
  display: flex;
  padding: 15px 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.lines li:hover {
  background-color: #f1f1f1;
}

.lines li>p {
  margin: auto 0;
  flex: 1;
  text-align: left;
  color: #337ab7;
}

.lines li>button>img {
  height: 25px;
  width: 25px;
}
